{% extends "base.html" %}
{% load url from future %}
{% block page_class %}home-page{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <h1>
            I want to fucking hack
<a href="#" id="language-select" data-type="select" data-pk="1"  data-original-title="language"></a>.

        
    </h1>
</div><!-- end row-->

<div class="row">

    {% if repo %}
    <h2 class='center repo-name'><a href="{{ repo.url }}">{{ repo.full_name }}</a></h2>
    <p class="repo-description center">{{ repo.description }}</p>
    {% if repo.language.learn_url %}
        <ul class='unstyled menu'>
			<li><h3><a href="{% url 'get_repo' repo.language.name %}">I don't fucking like that</a></h3></li>
			<li><h3><a href="{{ repo.language.learn_url }}">I don't fucking know {{ repo.language.name }}</a></h3></li>
        </ul>
    {% endif %}
    {% else %}
    <h2>Fuck. No projects in this language.</h2>
    {% endif %}
	<h3><a id="github" href="#">I fucking want to submit</a></h3>
</div><!-- end row -->
</div> <!-- /container -->

<script>
$(function(){
    $('#language-select').editable({
        value: 2,
        showbuttons: false, 
        source: [
            {% for language in all_languages %}
                {value: "{{ language.name }}", text: "{{ language.name }}"},
            {% endfor %}
           ],
        url: function(params){
            var language = params.value;
            document.location.href = '/language/' + language;
        },

        value: "{{ selected }}"
        });
	$('#github').click(function() {
		window.open("{% url 'socialauth_begin' 'github' %}");
	});
});
</script>
{% endblock %}
