{% extends "base.html" %}
{% load url from future %}
{% block page_class %}home-page{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <h1>
            <form class='form-inline' name="language-form">
            I want to fucking hack
                <select name="selectedPage" 
                    onChange="changePage(this.form.selectedPage)">             
                {% for language in all_languages %}
                {% if language == selected %}
                <option value="" selected="selected">{{ language }}</option>
                {% else %}
                <option value="{% url 'get_repo' language  %}">{{ language }}</option>
                {% endif %}
                {% endfor %}
            </select>.
        </form>
    </h1>
</div><!-- end row-->

<div class="row">

    {% if repo %}
    <a href="{{ repo.url }}"><h2 class='center repo-name'>{{ repo.full_name }}</h2></a>
    <p class="repo-description">{{ repo.description }}</p>
    {% else %}
    <h2>Fuck. No projects in this language.</h2>
    {% endif %}
</div><!-- end row -->
</div> <!-- /container -->
{% endblock %}
