{% extends "base.html" %}
{% load url from future %}
{% block page_class %}home-page{% endblock %}
{% block content %}

<div class="row">
    <blockquote class='title'><span class="bqstart">&#8220;</span><div class="bqtext">What the fuck should I hack this weekend?</div><span class="bqend">&#8221;</span></blockquote>
</div>
    <div class="row">
        {% if repo %}     
        <h1>
            I want to fucking hack
<a href="#" id="language-select" data-type="select" data-pk="1"  data-original-title="language"></a>.
    <small>(Click to change)</small></h1>
</div><!-- end row-->
        {% endif %}

<div class="row">

    {% if repo %}
    <h2 class='center'><a class='repo-name' href="{{ repo.url }}">{{ repo.full_name }}</a></h2>
    <p class="repo-description center">{{ repo.description }}</p>
        <ul class='unstyled menu'>
            <li><h3><a href="{% url 'get_repo' repo.language.name %}">F that</a></h3></li>
    {% if repo.language.learn_url %}
			<li><h3><a href="{{ repo.language.learn_url }}">I don't fucking know {{ repo.language.name }}</a></h3></li>
        </ul>
    {% endif %}
    {% else %}
    <h2>No projects. <a href="{% url 'socialauth_begin' 'github' %}">Contribute.</a></h2>
    {% endif %}
</div><!-- end row -->


<script>
$(function(){
    $('#language-select').editable({
        value: 2,
        showbuttons: false, 
        source: [
            {% for language in all_languages %}
                {value: "{{ language.name }}", text: "{{ language.name }}"},
            {% endfor %}
           ],
        url: function(params){
            var language = params.value;
            document.location.href = '/language/' + language;
        },

        value: "{{ selected }}"
	});
});
</script>
{% endblock %}
