{% extends "base.html" %}
{% load url from future %}
{% block content %}
    <div class="row">
        <h1>
            Which project?        
        </h1>
    </div><!-- end row-->

    <div class="row">
        <ul class="repo-list unstyled">
            {% for repo in repos %}
            <li><a class='repo-name' data-value="{{ repo.name }}" href="#">{{ repo.full_name }}</a></li>
            {% endfor %}
        </ul>
    </div><!-- end row -->

    <script>
        $('a.repo-name').on('click', function(event) {
            var repoName = $(this).data('value');
            $.ajax("{% url 'add_repo' %}", {
                type: 'POST',
                data: {
                    'name': repoName
                },
                success: function(data) {
                    alert(data.message);
                    if (data.success){
                        document.location.href = '/';
                    }
                }
            });
        });
    </script>


{% endblock %}
