/* =============================================================================
   App specific CSS file.
   ========================================================================== */

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  font-family: 'Liberation Serif', 'Georgia', serif;
  font-size: 1.1em;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

#container {
    width: 700px;
    margin: 20px auto;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* Typography */

h1 {
  font-size: 40px;
  line-height: 36px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 20px;
  font-weight: bold;
  color: #333333;
  text-rendering: optimizelegibility;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999999;
}

footer a {
  color: #999999;
}  

footer small { 
  float: left; 
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}