{% load staticfiles %}
<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>{% block page_title %}{{ _("What the fuck should I hack this weekend?") }}{% endblock %}</title>
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <meta name="author" content="{% block meta_author %}{% endblock %}">



  <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
  {% block css %}{% endblock %}

  
  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.9.0.min.js"><\/script>')</script>

  {# Include X-editable #}
  <script src="{{ STATIC_URL }}bootstrap-editable/js/bootstrap-editable-inline.js"></script>

     </head>
     <body class="{% block body_class %}{% endblock %}">
  {% block body %}

  <div role="main">
    {% block content %}{% endblock %}
  </div>

  <!-- scripts concatenated and minified via build script -->
  <script src="{{ STATIC_URL }}js/plugins.js"></script>
  <script src="{{ STATIC_URL }}js/script.js"></script>
  <!-- end scripts -->

  {% endblock %}
</body>
</html>
