{% load url from future %}
<div class="container"></div>
<footer>
    
  <nav>
    <ul>
        <li><a href="{% url 'home' %}">Home</a>
        {% if user.is_active %}
        <li><a href="{% url 'submit' %}">Submit</a></li>
        {% else %}
        <li><a href="{% url 'socialauth_begin' 'github' %}">Submit</a></li>
        {% endif %}
        <li><a href="https://github.com/sloria/wtfhack">Hack this</a></li>
		<li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=ZRY3B8TESSVMN&lc=US&item_name=wtfhack&currency_code=USD&bn=PP%2dDonationsBF%3aKgL2jzI%2egif%3aNonHosted">Donate to Pete</a>
    </ul>
  </nav>
</footer>